<table class="table text-center align-middle">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Talle</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of catalogo; trackBy: trackByNombre" [ngClass]="{'en_oferta': producto.oferta}">
        <td>
          <img width="100px" class="img-thumbnail" [src]="producto.img" [alt]="producto.nombre">
        </td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.precio | currency }}</td>
        <td [ngClass]="{'no_disponible': getTalles(producto.talles).length == 0}">
          <ng-container *ngIf="getTalles(producto.talles).length == 0; else disponible">
            No disponible
          </ng-container>
          <ng-template #disponible>
            <select name="" id="select-{{producto.nombre}}">
              <option *ngFor="let talle of getTalles(producto.talles)" [value]="talle">
                {{ talle }} ({{ producto.talles[talle] }} disponibles)
              </option>
            </select>
          </ng-template>
        </td>
        <td>
          <button class="btn btn-primary" (click)="addToCart(producto, getSelectedTalle(producto.nombre))">
            <i class="bi bi-cart-plus"></i>
          </button>
        </td>
      </tr>
      </tbody>
</table>