<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Talle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><img class="img-fluid" [src]="catalogo.Producto" [alt]=""></td>
        <td>{{catalogo.Nombre}}</td>
        <td>{{catalogo.Tipo}}</td>
        <td>{{catalogo.Precio}}</td>
        <td><select name="" id="">
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
        </select>
        </td>
    </tr>
    </tbody>
</table>