<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Talle</th>
        </tr>
    </thead>
    <tbody>
        @for(producto of catalogo;track producto.nombre){
            <tr [ngClass]="{'en_oferta': producto.oferta}">
         <td><img class="img-fluid" [src]="producto.producto" [alt]=""></td>
         <td>{{producto.nombre}}</td>
         <td>{{producto.tipo}}</td>
         <td>{{producto.precio | currency}}</td>
         <td [ngClass]="{'no_disponible': producto.talles.length == 0}">
            @if(producto.talles.length == 0){
             No disponible
            }@else{
            <select name="" id="">
              @for(talle of producto.talles; track talle){
                <option value="{{talle}}">{{talle}}</option>
                }
            </select>
            }
        </td>
        </tr>
    }
    </tbody>
</table>